{% extends 'partials/base.html.twig' %}

{% block content %}
	<p>
		{{ "INTRODUCTION_SENTENCE"|t }}
	</p>
	<div class="video-container">
		<video id="intro-video" class="video-js" controls preload="auto" poster="{{ url('theme://video/shadow-intro_poster.jpg', true) }}" data-setup="{}">
	    <source src="{{ url('theme://video/shadow-intro.mp4', true) }}" type='video/mp4'>
	    <source src="{{ url('theme://video/shadow-intro.webm', true) }}" type='video/webm'>
	    <p class="vjs-no-js">
	      To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
	    </p>
	  </video>
	</div>

	{{ page.content }}

	<div class="press-logos">
		<div class="logo">
			<a target="_blank" href="http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin" title="Why criminals can't hide behind Bitcoin"><img src="{{ url('theme://images/press/science-mag.png', true) }}" alt="The Science Mag"></a>
		</div>
		<div class="logo">
			<a target="_blank" href="https://www.deepdotweb.com/2015/01/28/shadowcash-zero-knowledge-anonymity/" title="Shadowcash Hits Zero-Knowledge Jackpot with Casino-style Anonymity"><img src="{{ url('theme://images/press/deep-dot-web.png', true) }}" alt="DeepDotWeb"></a>
		</div>
	</div>
	<ul>
		<li>
			<a href="http://www.sciencemag.org/news/2016/03/why-criminals-cant-hide-behind-bitcoin">Why criminals can't hide behind Bitcoin</a><br>
			&ndash; <em>The Science Mag (9 March 2016)</em>
		</li>
		<li>
			<a href="https://www.deepdotweb.com/2015/01/28/shadowcash-zero-knowledge-anonymity/">Shadowcash Hits Zero-Knowledge Jackpot with Casino-style Anonymity</a><br>
			&ndash; <em>DeepDotWeb (28 January 2015)</em>
		</li>
	</ul>
{% endblock %}
