{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content }}

  <ul class="block-grid-3">

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/rynomster.jpg', true) }}" alt="Rynomster">
      </div>
      <div class="text">
        <div class="name">Rynomster</div>
        <div class="title">Lead &amp; Core Developer</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div-->
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SdcDevWEbq3CZgZc8UNbST1TaYLA5vLZTS">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1GiosBkSpN8RS9pm1kgZU8AZUBEnLKYFem">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/crz.jpg', true) }}" alt="crz">
      </div>
      <div class="text">
        <div class="name">crz</div>
        <div class="title">Core Developer, Branding/Graphics, UI/UX Designer, Front-end Developer</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div-->
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SbMvzNDrYJLWTYMMBeozZWfiv9QPUjGSWm">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1o4nzUUXTDEGXCtEJomoyM1irn8Uxfg1D">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/ffmad.jpg', true) }}" alt="ffmad">
      </div>
      <div class="text">
        <div class="name">ffmad</div>
        <div class="title">General relations, Shadowproject Websites, Core Developer</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="xxxxx">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="xxxxx">
        </div-->
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/dasource.jpg', true) }}" alt="dasource">
      </div>
      <div class="text">
        <div class="name">dasource</div>
        <div class="title">Research &amp; Development, Testing &amp; Infrastructure</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="xxxxx">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="xxxxx">
        </div-->
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/ludx.jpg', true) }}" alt="ludx">
      </div>
      <div class="text">
        <div class="name">ludx</div>
        <div class="title">Developer, Infrastructure</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="xxxxx">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="xxxxx">
        </div-->
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/edu.jpg', true) }}" alt="edu">
      </div>
      <div class="text">
        <div class="name">Edu</div>
        <div class="title">Media Liaison/PR, Community Manager</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="xxxxx">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="xxxxx">
        </div-->
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/sebsebastian.jpg', true) }}" alt="SebSebastian">
      </div>
      <div class="text">
        <div class="name">SebSebastian</div>
        <div class="title">Media Liaison/PR, reddit</div>
        <!--div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=XXXXXX">PGP: XXXXXX</a></div-->
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SWCRwuU5efx3gFSDidFRtgKpKLVjcS7Ger">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1HqxvqEeropj1yuSM2Hnb69FHpi8GWdA97">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/code.jpg', true) }}" alt="code">
      </div>
      <div class="text">
        <div class="name">Code</div>
        <div class="title">Developer, Community Manager, Software Architect</div>
        <div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xB47E535609CF4376"> PGP: 0xB47E535609CF4376</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SPJfRzAaKQ3CRPyDycmfzmJFvU33uURGmp">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="15PbtZY3Ch35bxkRLQ2KS4Mj16WqWAKjWf">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/allien.jpg', true) }}" alt="Allien">
      </div>
      <div class="text">
        <div class="name">Allien</div>
        <div class="title">Website Designer, Front-end Developer</div>
        <div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=0x342F633E2F08ADD2">PGP: 0x342F633E2F08ADD2</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SQqVGXi9Hi1CJv7Qy4gjvxyVinemTx8nK7">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1JHdnyyHC1ioxVhjbQb9eVcYLJUxH1njpY">
        </div>
      </div>
    </li>

    <li class="member">
      <div class="avatar">
        <img src="{{ url('theme://images/team/arcanum.png', true) }}" alt="Arcanum">
      </div>
      <div class="text">
        <div class="name">Arcanum</div>
        <div class="title">Media, PR</div>
        <div class="contact"><a title="Contact me securely via PGP" href="https://pgp.mit.edu/pks/lookup?op=get&search=0xb7759c8c39c5cffd">PGP: 0xb7759c8c39c5cffd</a></div>
        <div class="donate">
          <i class="ico ico-shadow"></i><input title="Donate Shadow" type="text" value="SNmHSBQrCb2SCFPZxPAkXGnFTXqh3dZjhj">
          <i class="ico ico-bitcoin"></i><input title="Donate Bitcoin" type="text" value="1CcbHwwz7zqk3b3GQu9z1C5eWivH4jeFcT">
        </div>
      </div>
    </li>

  </ul>


  <h3 id="former-members">Active Contributors</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Wheatclove</strong></td>
        <td>Bug Testing, Apprentice</td>
      </tr>
      <tr>
        <td><strong>Litebit</strong></td>
        <td>Community Projects (Tutorials and Raspberry Pi)</td>
      </tr>
      <tr>
        <td><strong>Erok</strong></td>
        <td>Community Projects (Tutorials and Raspberry Pi)</td>
      </tr>
      <tr>
        <td><strong>b.b.2k16</strong></td>
        <td>Chinese translations and promotion</td>
      </tr>
    </tbody>
  </table>

  <h3 id="former-members">Former Members</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>What do I do?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>tecnovert</strong></td>
        <td>Core Developer</td>
      </tr>
      <tr>
        <td><strong>St3bas</strong></td>
        <td>Core Developer</td>
      </tr>
      <tr>
        <td><strong>Trollsroyce</strong></td>
        <td>Media Liaison/PR</td>
      </tr>
      <tr>
        <td><strong>Soepkip</strong></td>
        <td>Community Manager</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
